.DS_Store
*.sqlite3

__pycache__
# dependencies

# testing
/coverage

# production
/build
*/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

yarn-debug.log*
yarn-error.log*

*.eslintcache
*/media/account/images/

the_social_network/django_static
pypi/*/

the_social_network/dist
the_social_network/the_social_network.egg-info